
@model LoginViewModel
@{
    ViewData["Title"] = "Вхід";
}

<form class="form" asp-action="Login" method="post">
    <p class="form-title">Sign in to your account</p>

    <div class="input-container">
        <input asp-for="Email" type="email" placeholder="Enter email" required />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="input-container">
        <input asp-for="Password" type="password" placeholder="Enter password" required />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit" class="submit">Sign in</button>

    <p class="signup-link">
        No account? <a asp-controller="Account" asp-action="Register">Sign up</a>
    </p>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
