@model RegisterViewModel

<form class="form" asp-action="Register" method="post">
    <p class="title">Register</p>
    <p class="message">Signup now and get full access to our app.</p>
    
    <div class="flex">
        <label>
            <input asp-for="Firstname" class="input" required />
            <span asp-validation-for="Firstname">Firstname</span>
        </label>

        <label>
            <input asp-for="Lastname" class="input" required />
            <span asp-validation-for="Lastname">Lastname</span>
        </label>
    </div>

    <label>
        <input asp-for="Email" type="email" class="input" required />
        <span asp-validation-for="Email">Email</span>
    </label>

    <label>
        <input asp-for="Password" type="password" class="input" required />
        <span asp-validation-for="Password">Password</span>
    </label>

    <label>
        <input asp-for="ConfirmPassword" type="password" class="input" required />
        <span asp-validation-for="ConfirmPassword">ConfirmPassword</span>
    </label>

    <button type="submit" class="submit">Submit</button>

    <p class="signin">Already have an account? <a asp-controller="Account" asp-action="Login">Signin</a></p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}